/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Poppins, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background: #0f0f10;
}

/* Custom Scrollbar  */
body::-webkit-scrollbar {
  width: 10px;
}
/* Track */
body::-webkit-scrollbar-track {
  background: #0f0f10;
}
/* Handle */
body::-webkit-scrollbar-thumb {
  background: #27292a;
  border-left: none;
  border-right: none;
  border-radius: 10px;
}

img {
  max-width: 100%;
  height: auto;
}

section {
  padding: 60px 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*=============== Header ===============*/
.header {
  width: 100%;
  height: 8vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #0a0a0b;
  z-index: 1000;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.logo img{
  width: 32px;
  height: auto;
}

.nav-list {
  display: flex;
  flex-direction: row;
}

.nav-list li{
  margin-left: 50px;
}

.nav-link {
  color: #242627;
  font-weight: 700;
}

.nav-link:hover {
  transition: .4s;
  color: #fff;
}

.nav-link:nth-child(1).active {
  color: #fff;
}

/*========================= Home =========================*/
#home {
height: 100vh;
}

.container-home {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.home-img{
  flex: 1;
}

.home-img img{
  width: 300px;
  height: 702px;
  position: absolute;
  top: -25px;
}

/* Home Info */
.home-info {
  flex: 1;
  position: relative;
}

.home-title {
  position: absolute;
  top: 3.5rem;
  left: 3.7rem;
  font-size: 7em;
  background: linear-gradient(to bottom, #313335, #242627);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} 

.home-subtitle {
  padding-top: 20vh;
  padding-bottom: 40px;
  font-size: 4.2rem;
  color: #fff;
}

.home-title-description {
  color: #fff;
  padding-bottom: 20px;
}

.home-description {
  color: #bdc0c2;
  padding-bottom: 90px;
}

.home-btn {
  padding: 16px 22px;
  border-radius: 5px;
  background: #0a0a0b;
  color: #fff;
}

.home-btn-price {
  padding-left: 15px ;
  font-size: 1.2rem;
  font-weight: 900;
}

.home-btn:hover {
  transition: .4s;
  background: #141515;
}

/*========================= Sponsor =========================*/
.sponsors {
  width: 100%;
  margin: 160px auto 0 auto;
  display: flex;
  justify-content: space-around;
}

.sponsors div {
  cursor: pointer;
}

.sponsors img {
  width: 100px;
}

/*========================= Specs =========================*/
#specs {
  margin-top: -50px;
}

.specs {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.specs h2{
  background: linear-gradient(to bottom, #313335, #242627);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4.2rem;
}

.specs-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.specs-info {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.specs-img {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

.specs-img img{
  max-width: 300px;
  position: absolute;
  top: 2rem;
}

.specs-data {
  padding: 15px 0;
  width: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
  /* justify-content: center; */
}

.specs-data:nth-child(1) {
  padding-left: 100px
}

.specs-data:nth-child(4) {
  padding-left: 100px
}

.specs-icon {
  font-size: 1.2em;
  color: #fff;
}

/* Icons */
.fa-bluetooth {
  color: #fff;
  font-size: 1.2em;
}

.fa-battery-three-quarters {
  color: #fff;
  font-size: 1.2em;
}

.fa-plug {
  color: #fff;
  font-size: 1.2em;
}

.fa-microphone {
  color: #fff;
  font-size: 1.2em;
}

/* Fim Icons */

.specs-title {
  font-size: 1em;
  color: #fff;
  font-weight: 700;
}

.specs-subtitle {
  font-size: .8em;
  color: #bdc0c2;
}

/* Case */
.case-title {
  width: 100%;
  display: flex;
  justify-content: center;
}
.case-title h2{
  background: linear-gradient(to bottom, #313335, #242627);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4.2rem;
}

.case-row {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.case-img {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.case-img img {
  width: 300px;
}

.case-info {
  flex: 1;
}

.case-info-container {
  width: 250px;
  position: relative;
  top: 100px;
  left: 70px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.case-description {
  color: #bdc0c2;
  padding-bottom: 50px;
}

.case-btn {
  display: inline-block;
  padding: 16px 22px;
  border-radius: 5px;
  background: #0a0a0b;
  color: #fff;
  text-align: center;
}

.case-btn:hover {
  transition: .4s;
  background: #141515;

}

.fa-info-circle {
  font-size: 1.2em;
  color: #fff;
}

/* Discount Section */
.discount {
  max-width: 900px;
  padding: 50px;
  background: #181a1b;
  border-radius: 10px;
  flex-direction: row;
}

.discount-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.discount-img {
  flex: 1;
}

.discount-img img {
  width: 350px;
  height: auto;
}

.discount-title {
  font-size: 1.5em;
  color: #fff;
  padding-bottom: 16px;
  text-align: left;
}

.discount-description {
  font-size: 1em;
  color: #bdc0c2;
  margin-bottom: 32px;
}

.btn-discount {
  display: inline-block;
  padding: 16px 22px;
  background: #0a0a0b;
  border-radius: 5px;
  color: #fff;
}

.btn-discount:hover {
  transition: .4s;
  background: #141515;
}

.fa-shopping-bag {
  font-size: 1.2em;
  color: white;
  padding: 5px;
}

/* Products Session */
.products {
  max-width: 700px;
}

.products-title {
  width: 100%;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}

.products-title h2 {
  background: linear-gradient(to bottom, #313435, #242627);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4.2em;
}

.products-list {
  padding: 40px 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.products-list li {
  position: relative;
  padding: 14px;
  height: 132px;
  width: 162px;
  border-radius: 10px;
  background: #181a1b;
}

.products-img {
  position: absolute;
  top: -3rem;
  right: 50%;
  transform: translateX(50%);
  max-width: 100%;
  height: auto;
  padding: 0 33px;
}

.products-list-info {
  height: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.products-list-row {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

.products-list-title {
  font-size: .8em;
  color: #fff;
}

.products-price {
  color: #bdc0c2;
  font-size: .8em;
  font-weight: bold;
  padding-bottom: 5px;
}

.fa-shopping-cart {
  cursor: pointer;
  color: #fff;
  position: absolute;
  bottom: 15px;
  right: 10px;
}

/* Footer */
#footer {
  padding: 120px 0 60px 0;
}

.footer {
  justify-content: space-between;
}

.footer-logo {
  width: 2rem;
}

.logo {
  max-width: 100%;
  height: auto;
}

.footer-title {
  font-size: 1.4em;
  color: #fff;
}

.footer-products a{
  color: #fff;
}

.footer-support a {
  color: #fff;
}

.footer-form {
  margin-bottom: 32px;
  display: flex;
  padding: .5rem .75rem;
  background: #181a1b;
  border-radius: 12px;
}

.footer-form input {
  border: none;
  font-size: 1em;
  color: #fff;
  width: 90%;
  margin-right: 12px;
  background: #181a1b;
}

.fa-paper-plane {
  font-size: 1em;
  color: #fff;
  padding: 12px;
}

.btn-form-footer {
  display: flex;
  align-items: center;
  padding: 8px 10px;
  border-radius: 12px;
  background: #0a0a0b;
  color: #fff;
}

.footer-social-link {
  margin-right: 12px;
  padding: .35rem .75rem;
  border-radius: .25rem;
  background: #181a1b;
  color: #fff;
}

.footer-social-link:hover {
  background: #0a0a0b;
}

.copyright {
  margin-top: 144px;
}

.copyright p {
  
  color: #fff;
}

.copyright-title {
  margin: 0 auto;
}